* {
	box-sizing: border-box;
}

html {
	max-width: 38rem;
	padding: 2rem;
	margin: auto;
	font-family: system-ui, sans-serif;
	line-height: 1.5rem;
	font-size: 20px;
}

h1 {
	text-align: center;
}

nav {
	list-style-type: none;
}

nav ul {
	margin: 0;
}

nav li {
	display: inline-block;
}

nav li::before {
	content: ' - ';
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: white;
	text-align: center;
}

:any-link {
    color: #4592ff;
    text-decoration: none;
}

table,
table * {
	padding: 0.4em 0.6em;
	border: 2px solid #444;
	border-collapse: collapse;
	text-align: center;
}
